<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cookbook</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    <%=styled_flash%>
    <%=yield%>
  </body>
</html>
